<p *ngIf="!trainLinkStatus && !arduinoLinkStatus"><em>Loading status...</em></p>

<div *ngIf="trainLinkStatus">
    <p *ngIf="trainLinkStatus.connected">eLink connected</p>
    <p *ngIf="!trainLinkStatus.connected">eLink not connected</p>
    <button *ngIf="!trainLinkStatus.connected" (click)="connectTrainLink()">Connect</button>
</div>

<div *ngIf="arduinoLinkStatus">
    <p *ngIf="arduinoLinkStatus.connected">Arduino connected</p>
    <p *ngIf="!arduinoLinkStatus.connected">Arduino not connected</p>
    <button *ngIf="!arduinoLinkStatus.connected" (click)="connectArduinoLink()">Connect</button>
</div>